// FORMATTER FONT TITLE/TEXT
.title {
  font-family: Gotham Bold;
}

.text {
  font-family: Gotham Book;
}

// TEXT COLOR
.text-green {
  color: $green-primary;
}

.text-white {
  color: white;
}

// BACKGROUND GRAY SECTION
.backgroundgray {
  background: $gray-primary;
}
